@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overriding Ant-D Button */
button {
  border-radius: 0px !important;
  height: 100px;
  padding: 150px;
}

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}
